.App{
  padding: 30px calc(50% - 500px);
}
.counter_wr{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.counter{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  width: 120px;
}

.lds-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  margin: 1px 10px;
  border-radius: 50%;
  border: 3px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
thead{
  color: rgb(73, 132, 184);
}
tr:nth-child(odd) {
    background: #f0f0f0; /* Цвет фона */
   } 
td{
  max-width: 200px;
}   
table{
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
thead tr>td{
  padding: 25px;
}
